@layer reset, typography, app;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-inline-size: 100%;
    max-block-size: 100%;
  }
}

@layer typography {
  :root {
    --ff-normal: system-ui;
    --ff-monospace: ui-monospace, monospace;
    --fw-normal: 400;
    --fw-bold: 700;
    --readable-text-max-inline-size: 70ch;
  }

  body {
    @media (prefers-color-scheme: light) {
      --body-background-color: hsl(200, 80%, 90%);
      --body-text-color: hsl(0, 0%, 5%);
      --card-background-color: hsl(200, 80%, 98%);
      --muted-text-color: hsl(0, 0%, 30%);
    }

    @media (prefers-color-scheme: dark) {
      --body-background-color: hsl(200, 70%, 11%);
      --body-text-color: hsl(0, 0%, 85%);
      --card-background-color: hsl(200, 80%, 13%);
      --muted-text-color: hsl(0, 0%, 60%);
    }

    background: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--ff-normal);
    font-weight: var(--fw-normal);
  }

  p {
    --paragraph-line-height: 1.5;
    --paragraph-spacing: 1em;

    line-height: var(--paragraph-line-height);
    max-inline-size: var(--readable-text-max-inline-size);

    & + p {
      margin-block-start: var(--paragraph-spacing);
    }
  }
}

@layer app {
  :root {
    --page-gutter: 1.5rem;
    --max-inline-content-size: 65rem;

    --sticker-border-color: hsl(0, 0%, 100%);
    --sticker-background-color: var(--sticker-border-color);
    --sticker-image-aspect-ratio: 640 / 427;
    --sticker-back-background-color: hsl(0, 0%, 85%);
    --sticker-back-text-color: hsl(0, 0%, 0%);

    --shiny-sticker-color: hsl(0, 0%, 57%);
    --shiny-sticker-background-color: var(--shiny-sticker-color);
  }

  html {
    scrollbar-gutter: stable;
  }

  html, body {
    block-size: 100vh;
    block-size: 100dvh;
  }

  a {
    color: var(--body-text-color);
  }

  button {
    @media (prefers-color-scheme: light) {
      --btn-default-border-color: hsl(200, 30%, 50%);
      --btn-default-background-color: hsl(200, 50%, 100%);
      --btn-default-text-color: hsl(0, 0%, 5%);
      --btn-hover-border-color: var(--btn-default-border-color);
      --btn-hover-background-color: hsl(200, 50%, 95%);
      --btn-hover-text-color: hsl(0, 0%, 5%);
      --btn-pressed-border-color: var(--btn-default-border-color);
      --btn-pressed-background-color: hsl(200, 50%, 92%);
      --btn-pressed-text-color: hsl(0, 0%, 5%);
    }

    @media (prefers-color-scheme: dark) {
      --btn-default-border-color: hsl(200, 80%, 20%);
      --btn-default-background-color: hsl(200, 80%, 20%);
      --btn-default-text-color: hsl(0, 0%, 85%);
      --btn-hover-border-color: hsl(200, 80%, 18%);
      --btn-hover-background-color: hsl(200, 80%, 18%);
      --btn-hover-text-color: hsl(0, 0%, 85%);
      --btn-pressed-border-color: hsl(200, 80%, 16%);
      --btn-pressed-background-color: hsl(200, 80%, 16%);
      --btn-pressed-text-color: hsl(0, 0%, 85%);
    }

    min-inline-size: 70px;

    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--btn-default-border-color);
    background: var(--btn-default-background-color);
    color: var(--btn-default-text-color);

    padding-block: 0.6em;
    padding-inline: 1.2em;

    line-height: 1em;
    letter-spacing: 0.01em;

    &:hover {
      border-color: var(--btn-hover-border-color);
      background: var(--btn-hover-background-color);
      color: var(--btn-hover-text-color);
    }

    &:active {
      border-color: var(--btn-pressed-border-color);
      background: var(--btn-pressed-background-color);
      color: var(--btn-pressed-text-color);
    }
  }

  input:not([type='checkbox']):not([type='radio']),
  textarea {
    @media (prefers-color-scheme: light) {
      --input-default-border-color: hsl(200, 60%, 50%);
      --input-default-background-color: hsl(0, 0%, 100%);
      --input-default-text-color: var(--body-text-color);
      --input-hover-border-color: var(--input-default-border-color);
      --input-hover-background-color: var(--input-default-background-color);
      --input-hover-text-color: var(--input-default-text-color);
    }

    @media (prefers-color-scheme: dark) {
      --input-default-border-color: hsl(200, 20%, 40%);
      --input-default-background-color: hsl(200, 80%, 12%);
      --input-default-text-color: var(--body-text-color);
      --input-hover-border-color: var(--input-default-border-color);
      --input-hover-background-color: var(--input-default-background-color);
      --input-hover-text-color: var(--input-default-text-color);
    }

    display: block;
    max-inline-size: 100%;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--input-default-border-color);
    background: var(--input-default-background-color);
    color: var(--input-default-text-color);
    padding-block: 0.4rem;
    padding-inline: 0.5rem;

    &:hover {
      border-color: var(--input-hover-border-color);
      background: var(--input-hover-background-color);
      color: var(--input-hover-text-color);
    }
  }

  dialog {
    @media (prefers-color-scheme: light) {
      --dialog-border-color: hsl(200, 70%, 40%);
      --dialog-background-color: var(--card-background-color);
      --dialog-text-color: var(--body-text-color);
    }

    @media (prefers-color-scheme: dark) {
      --dialog-border-color: var(--body-background-color);
      --dialog-background-color: var(--card-background-color);
      --dialog-text-color: var(--body-text-color);
    }

    --dialog-border-color: var(--body-background-color);
    --dialog-background-color: var(--card-background-color);
    --dialog-text-color: var(--body-text-color);

    margin: auto;
    border-radius: 4px;
    border-color: var(--dialog-border-color);
    background: var(--dialog-background-color);
    color: var(--dialog-text-color);

    /* To detect the backdrop being pressed (for light dismiss), the dialog cannot itself have padding. */
    /* Instead the direct child elements should have padding. */
    padding: 0;

    &::backdrop {
      background: #00000066;
    }
  }

  @property --shiny-sticker-border-gradient-angle {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
  }

  @keyframes shine {
    100% {
      --shiny-sticker-border-gradient-angle: calc(var(--shiny-sticker-border-gradient-start-angle) + var(--shiny-sticker-border-gradient-angle-shift));
    }
  }
}