@layer reset, typography, app;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-inline-size: 100%;
    max-block-size: 100%;
  }
}

@layer typography {
  :root {
    --ff-normal: system-ui;
    --fw-normal: 400;
    --fw-bold: 700;
    --readable-text-max-inline-size: 70ch;
  }

  body {
    @media (prefers-color-scheme: light) {
      --body-background-color: hsl(203, 66%, 82%);
      --body-text-color: hsl(0, 0%, 10%);
    }

    @media (prefers-color-scheme: dark) {
      --body-background-color: hsl(203, 60%, 14%);
      --body-text-color: hsl(0, 0%, 86%);
    }

    background: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--ff-normal);
    font-weight: var(--fw-normal);
  }

  p {
    --paragraph-line-height: 1.5;
    --paragraph-spacing: 1em;

    line-height: var(--paragraph-line-height);
    max-inline-size: var(--readable-text-max-inline-size);

    & + p {
      margin-block-start: var(--paragraph-spacing);
    }
  }
}

@layer app {
  :root {
    --sticker-aspect-ratio: 1.5 / 1;
  }

  html {
    scrollbar-gutter: stable;
  }

  a {
    color: var(--body-text-color);
  }

  button {
    min-inline-size: 70px;
    padding-block: 0.5em;
    padding-inline: 1em;
  }

  dialog {
    margin: auto;
    padding: 1rem;
    background: var(--body-background-color);
    color: var(--body-text-color);
  }

  .shiny-sticker {
    --shiny-sticker-colour: rgba(150, 150, 150, 1);
    --shiny-sticker-highlight-colour: rgba(255, 255, 255, 1);
    --shiny-sticker-gradient-start-angle: 30deg;
    --shiny-sticker-gradient-angle-shift: 10deg;
    --shiny-sticker-gradient-angle: var(--shiny-sticker-gradient-start-angle);

    --shiny-sticker-gradient: linear-gradient(
      var(--shiny-sticker-gradient-angle),
      var(--shiny-sticker-colour) 18%,
      var(--shiny-sticker-highlight-colour) 22%,
      var(--shiny-sticker-colour) 25%,
      var(--shiny-sticker-colour) 35%,
      var(--shiny-sticker-highlight-colour) 37%,
      var(--shiny-sticker-colour) 39%,
      var(--shiny-sticker-colour) 63%,
      var(--shiny-sticker-highlight-colour) 67%,
      var(--shiny-sticker-colour) 71%,
      var(--shiny-sticker-colour) 86%,
      var(--shiny-sticker-highlight-colour) 89%,
      var(--shiny-sticker-colour) 92%);

    border-image-source: var(--shiny-sticker-gradient);
    border-image-slice: 1;
    background: var(--shiny-sticker-colour);
    animation: 3s shine ease-in-out alternate infinite;
  }

  @keyframes shine {
    100% {
      --shiny-sticker-gradient-angle: calc(var(--shiny-sticker-gradient-start-angle) + var(--shiny-sticker-gradient-angle-shift));
    }
  }

  @property --shiny-sticker-gradient-angle {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
  }
}